{% set items_active = block["items"] | selectattr("active") | sort(attribute="order") | list %}
{% set items_visible = items_active[:block.items_visible_count] if block.items_visible_count else items_active %}
{% set items_hidden = items_active[block.items_visible_count:] if block.items_visible_count else [] %}

<div class="container" id="{{ block.id }}">
    <h2 class="
        mb-2
        mb-sm-2
        mb-md-2
        mb-lg-2
        mb-xl-3
        mb-xxl-3
    ">
        {{ block.header }} &mdash; {{ block["items"] | length }}
    </h2>

    <div class="
        row g-1
        g-sm-1
        g-md-2
        g-xl-3
        g-xxl-3
    ">
        {% set salt = block.id %}
        {% for item in items_visible %}
            <div class="
                col col-12
                col-sm-{{ 12 // (block.cols.sm | default(1)) }}
                col-md-{{ 12 // (block.cols.md | default(2)) }}
                col-lg-{{ 12 // (block.cols.lg | default(3)) }}
                col-xl-{{ 12 // (block.cols.xl | default(3)) }}
                col-xxl-{{ 12 // (block.cols.xxl | default(3)) }}
            ">
                {% set index = loop.index %}

                <div class="card bg-light">
                    {% include (block.id ~ "_block_item.html") with context %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if items_hidden %}
        {% set toggle_id = 'toggle-hidden-' ~ block.id %}
        <button class="btn btn-outline-secondary btn-sm mt-2 d-print-none" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#{{ toggle_id }}" aria-expanded="false"
                aria-controls="{{ toggle_id }}">
            <i class="bi bi-arrow-down-up"></i>
            {{ block.toggle_hidden }}
        </button>

        <div class="d-none d-print-block">
            {{ block.toggle_hidden_print | replace("%url%", base_url ~ block.href) }}
        </div>

        <div class="collapse" id="{{ toggle_id }}">
            <div class="
                row g-1 py-3
                g-sm-1
                g-md-2
                g-xl-3
                g-xxl-3
            ">
                {% set salt = block.id ~ '-hidden' %}
                {% for item in items_hidden %}
                    <div class="
                        col col-12
                        col-sm-{{ 12 // (block.cols.sm | default(1)) }}
                        col-md-{{ 12 // (block.cols.md | default(2)) }}
                        col-lg-{{ 12 // (block.cols.lg | default(3)) }}
                        col-xl-{{ 12 // (block.cols.xl | default(3)) }}
                        col-xxl-{{ 12 // (block.cols.xxl | default(3)) }}
                    ">
                        {% set index = loop.index %}
                        <div class="card bg-light">
                            {% include (block.id ~ "_block_item.html") with context %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>