<div class="container mb-5" id="{{ block.id }}">
    <h2 class="text-bg-dark d-inline-block py-1 px-3 mb-4">{{ block.header }} &mdash; {{ block["items"] | length }}</h2>
    {% set items_active = block["items"] | selectattr("active") | sort(attribute="order") | list %}
    {% set items_visible = items_active[:block.items_visible_count] if block.items_visible_count else items_active %}
    {% set items_hidden = items_active[block.items_visible_count:] if block.items_visible_count else [] %}
    <div class="row">
        {% set salt = block.id %}
        {% for item in items_visible %}
            <div class="
                col col-12
                col-sm-{{ 12 // (block.cols.sm | default(1)) }}
                col-md-{{ 12 // (block.cols.md | default(2)) }}
                col-lg-{{ 12 // (block.cols.lg | default(3)) }}
                col-xl-{{ 12 // (block.cols.xl | default(3)) }}
                col-xxl-{{ 12 // (block.cols.xxl | default(3)) }}
            ">
                {% set index = loop.index %}
                <div class="card text-bg-light mb-4">
                    {% include (block.id ~ "_block_item.html") with context %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if items_hidden %}
        {% set toggle_id = 'toggle-hidden-' ~ block.id %}
        <button class="btn btn-outline-dark btn-sm" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#{{ toggle_id }}" aria-expanded="false"
                aria-controls="{{ toggle_id }}">
            <i class="bi bi-arrow-down-up"></i>
            {{ block.toggle_hidden }}
        </button>
        <div class="collapse" id="{{ toggle_id }}">
            <div class="row py-3">
                {% set salt = block.id ~ '-hidden' %}
                {% for item in items_hidden %}
                    <div class="
                        col col-12
                        col-sm-{{ 12 // (block.cols.sm | default(1)) }}
                        col-md-{{ 12 // (block.cols.md | default(2)) }}
                        col-lg-{{ 12 // (block.cols.lg | default(3)) }}
                        col-xl-{{ 12 // (block.cols.xl | default(3)) }}
                        col-xxl-{{ 12 // (block.cols.xxl | default(3)) }}
                    ">
                        {% set index = loop.index %}
                        <div class="card text-bg-light mb-4">
                            {% include (block.id ~ "_block_item.html") with context %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>