{% set toggle_id = 'toggle-details-' ~ salt ~ '-' ~ index %}
<div class="card-body">
    <div class="d-flex align-items-start gap-3 mb-2">
        {% if item.image_filename %}
            <img src="/{{ item.image_filename }}" class="rounded"
                 width="{{ block.image.width }}" height="{{ block.image.height }}"
                 alt="{{ item.school }}"/>
        {% endif %}
        <div>
            <h3 class="h5 card-title mb-0">{{ item.school }}</h3>
        </div>
    </div>
    <div class="card-text">
        <b class="fw-bold">{{ item.degree }}</b>{{ (', ' ~ item.field) if item.field else '' }}
    </div>

    {% if item.description %}
        <button class="btn btn-outline-dark btn-sm" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#{{ toggle_id }}" aria-expanded="false"
                aria-controls="{{ toggle_id }}">
            <i class="bi bi-arrow-down-up"></i>
            {{ block.toggle_details }}
        </button>
    {% endif %}

    {% if item.url %}
        <a href="{{ item.url }}" class="btn btn-sm btn-outline-dark {{ "ms-1" if item.description else "" }}"
           target="_blank">
            {{ block.open_website }} <i class="bi bi-box-arrow-up-right"></i>
        </a>
    {% endif %}

    {% if item.description %}
        <div class="collapse" id="{{ toggle_id }}">
            <div class="py-3">
                <div class="card-text">
                    {{ item.description }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if item.start_date %}
        <div class="card-text">
            <small class="text-body-secondary">
                <i class="bi bi-calendar"></i>
                {{ item.start_date | date_range(item.end_date) }}
            </small>
        </div>
    {% endif %}

    {% if item.location %}
        <div class="card-text">
            <small class="text-body-secondary">
                <i class="bi bi-geo"></i>
                {{ item.location }}
                {% if item.location_type %}
                    · {{ item.location_type }}
                {% endif %}
            </small>
        </div>
    {% endif %}
</div>