{% set toggle_id = 'toggle-details-' ~ salt ~ '-' ~ index %}

{% if item.image_filename %}
    {% if item.url %}
        <a class="d-print-none text-decoration-none link-body-emphasis" href="{{ item.url }}" target="_blank"
           rel="noopener noreferrer">
    {% endif %}

<img class="card-img-top{% if not item.url %} d-print-none{% endif %}" src="/{{ item.image_filename }}"
     alt="{{ item.school }}"/>

{% if item.url %}
    </a>
{% endif %}
{% endif %}

<div class="card-body">
    {% if item.url %}
        <a class="text-decoration-none link-body-emphasis me-1" href="{{ item.url }}" target="_blank"
           rel="noopener noreferrer">
    {% endif %}

    <h3 class="h5 card-title mb-0 d-inline">
        {{ item.school }}
    </h3>

    {% if item.url %}
        <i class="bi bi-box-arrow-up-right d-print-none"></i>
        <span class="d-none d-print-inline">{{ item.url }}</span>
        </a>
    {% endif %}

    {% if item.description %}
        <button class="btn btn-outline-secondary btn-sm btn-toggle rounded-circle d-print-none text-decoration-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#{{ toggle_id }}" aria-expanded="false"
                aria-controls="{{ toggle_id }}"
                title="{{ block.toggle_details }}">
            <i class="bi bi-chevron-down"></i>
        </button>
    {% endif %}

    <div class="card-text">
        <b>{{ item.degree }}</b>{{ (' - ' ~ item.field) if item.field else '' }}
    </div>

    {% if item.description or item.credentials %}
        <div class="collapse d-print-block" id="{{ toggle_id }}">
            <div class="d-flex flex-column gap-1 py-2">
                {% if item.description %}
                    <div class="card-text">
                        {{ item.description }}
                    </div>
                {% endif %}

                {% if item.credentials %}
                    <div class="card-text">
                        <small class="text-body-secondary" data-bs-toggle="tooltip"
                               data-bs-title="{{ block.credentials }}">
                            <i class="bi bi-database-check"></i>
                            {{ item.credentials }}
                        </small>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if item.start_date %}
        <div class="card-text">
            <small class="text-body-secondary">
                <i class="bi bi-calendar"></i>
                {{ item.start_date | date_range(item.end_date) }}
            </small>
        </div>
    {% endif %}

    {% if item.location %}
        <div class="card-text">
            <small class="text-body-secondary">
                <i class="bi bi-geo"></i>
                {{ item.location }}
                {% if item.location_type %}
                    · {{ item.location_type }}
                {% endif %}
            </small>
        </div>
    {% endif %}
</div>