{% set toggle_id = 'toggle-details-' ~ salt ~ '-' ~ index %}

{% if item.id %}
    {% set project_items = (__ctx__["projects"]["items"] | selectattr("experience_id", "equalto", item.id) | list) %}
{% else %}
    {% set project_items = [] %}
{% endif %}

<div class="card-body">
    <div class="d-flex align-items-start gap-3 mb-2">
        {% if item.image_filename %}
            <img src="/{{ item.image_filename }}" class="rounded"
                 width="{{ block.image.width }}" height="{{ block.image.height }}"
                 alt="{{ item.company }}"/>
        {% endif %}
        <div>
            <h3 class="h4 card-title mb-0">
                {{ item.position }}
                {% if item.ongoing %}
                    <span class="badge text-bg-info">{{ block.ongoing }}</span>
                {% endif %}
            </h3>
            <div class="card-text">
                {{ item.company }} - {{ item.employment_type }}
            </div>
        </div>
    </div>

    <button class="btn btn-outline-secondary btn-sm" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#{{ toggle_id }}" aria-expanded="false"
            aria-controls="{{ toggle_id }}">
        <i class="bi bi-arrow-down-up"></i>
        {{ block.toggle_details }}
    </button>
    {% if item.url %}
        <a href="{{ item.url }}" class="btn btn-sm btn-outline-secondary"
           target="_blank">
            {{ block.open_website }} <i class="bi bi-box-arrow-up-right"></i>
        </a>
    {% endif %}

    <div class="collapse" id="{{ toggle_id }}">
        <div class="py-3">
            {% for project in project_items %}
                <div class="card-text">
                    <div class="h5 mb-0">Project #{{ loop.index }}: {{ project.project }}</div>
                    <small class="text-body-secondary">{{ project.position }}</small>
                    <ul class="mb-0">
                        {% for responsibility in project.responsibilities %}
                            <li>{{ responsibility }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            {% if item.tags %}
                <div class="card-text">
                    <small class="text-body-secondary">
                        <i class="bi bi-tags"></i>
                        {{ item.tags | join(' · ') }}
                    </small>
                </div>
            {% endif %}
        </div>
    </div>

    {% if item.start_date %}
        <div class="card-text">
            <small class="text-body-secondary">
                <i class="bi bi-calendar"></i>
                {{ item.start_date | date_range(item.end_date) }}
            </small>
        </div>
    {% endif %}

    {% if item.location %}
        <div class="card-text">
            <small class="text-body-secondary">
                <i class="bi bi-geo"></i>
                {{ item.location }}
                {% if item.location_type %}
                    · {{ item.location_type }}
                {% endif %}
            </small>
        </div>
    {% endif %}
</div>