{% set toggle_id = 'toggle-details-' ~ salt ~ '-' ~ index %}
<div class="card-body">
    <div class="d-flex align-items-start gap-3 mb-2">
        {% if item.image_filename %}
            <img src="/assets/{{ item.image_filename }}" class="rounded"
                 width="{{ block.image.width }}" height="{{ block.image.height }}"
                 alt="{{ item.company }}"/>
        {% endif %}
        <div>
            <h3 class="h4 card-title mb-0">{{ item.header }}</h3>
            <div class="card-text">
                {{ item.company }} - {{ item.employment_type }}
            </div>
        </div>
    </div>

    <button class="btn btn-outline-secondary btn-sm" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#{{ toggle_id }}" aria-expanded="false"
            aria-controls="{{ toggle_id }}">
        <i class="bi bi-arrow-down-up"></i>
        {{ block.toggle_details }}
    </button>
    {% if item.url %}
        <a href="{{ item.url }}" class="btn btn-sm btn-outline-secondary"
           target="_blank">
            {{ block.open_website }} <i class="bi bi-box-arrow-up-right"></i>
        </a>
    {% endif %}

    <div class="collapse" id="{{ toggle_id }}">
        <div class="py-1">
            {% for project in item.projects %}
                <div class="card-text">
                    <div class="h5">Project #{{ loop.index }}: {{ project.header }}</div>
                    <ul class="mb-0">
                        {% for responsibility in project.responsibilities %}
                            <li>{{ responsibility }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <div class="card-text">
                <small class="text-body-secondary">
                    {{ item.tags | join(' · ') }}
                </small>
            </div>
        </div>
    </div>

    <div class="card-text">
        <small class="text-body-secondary fw-bold">
            {{ item.start_date | date_range(item.end_date) }}
        </small>
    </div>
    <div class="card-text">
        <small class="text-body-secondary">
            {{ item.location }} · {{ item.location_type }}
        </small>
    </div>
</div>