<head>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>

    {% if env and env.GOOGLE_ANALYTICS_ID %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ env.GOOGLE_ANALYTICS_ID }}"></script>
        <script>
          window.dataLayer = window.dataLayer || []

          function gtag() {
            dataLayer.push(arguments)
          }

          gtag("js", new Date())
          gtag("config", "{{ env.GOOGLE_ANALYTICS_ID }}")
        </script>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if head and head.title %}
        <title>{{ head.title }}</title>
    {% endif %}

    {% if head and head.meta_name %}
        {% for key, val in head.meta_name.items() %}
            <meta name="{{ key }}" content="{{ val }}"/>
        {% endfor %}
    {% endif %}

    {% if head and head.meta_property %}
        {% for key, val in head.meta_property.items() %}
            <meta property="{{ key }}" content="{{ val }}"/>
        {% endfor %}
    {% endif %}

    {% if head and head.schema_org %}
        <script type="application/ld+json">{{ head.schema_org | tojson | safe }}</script>
    {% endif %}

    {% if head and head.favicon and head.favicon.active %}
        {% if head.favicon.generator == "realfavicongenerator" %}
            <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
            <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
            <link rel="shortcut icon" href="/favicon.ico"/>
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
            <link rel="manifest" href="/site.webmanifest"/>
        {% endif %}
    {% endif %}

    {% if head and head.canonical_url %}
        <link rel="canonical" href="{{ head.canonical_url }}">
    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>