<header class="d-print-none">
    <nav class="navbar navbar-expand-md bg-{{ header.bg if header and header.bg else '' }}"
         data-bs-theme="{{ header.bs if header and header.bs else '' }}">
        <div class="container">
            {% if header and header.brand %}
                <a class="navbar-brand link-secondary" style="outline:none" href="/">
                    {{ header.brand|default('Personal') }}
                </a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto">
                    {% set ns = namespace(_nav_blocks=[]) %}

                    {% for key, block in __ctx__.items() %}
                        {% if block is mapping and block.nav_active and 'href' in block and 'nav' in block %}
                            {% set ns._nav_blocks = ns._nav_blocks + [block] %}
                        {% endif %}
                    {% endfor %}

                    {% for block in ns._nav_blocks | sort(attribute='order') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ block.href }}">
                                {{ block.nav }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>