<div class="p-5 text-center text-bg-light mb-5">
    <div class="container py-5">
        <div>
            {% if block.image_filename %}
                <img src="/assets/{{ block.image_filename }}" class="rounded-circle"
                     alt="{{ block.person }}"
                     width="150" height="150"/>
                <br/>
            {% endif %}
            Hi! I'm
            <h1>{{ block.person }}</h1>
            <p class="col-lg-8 mx-auto lead">
                {{ block.occupation }}
            </p>
        </div>
    </div>
</div>