{% if block.cover_image.active %}
    <style>
        .bg-img-jumbotron::before {
            background-image: url('/{{ block.cover_image.filename }}');
            background-position: {{ block.cover_image.position_x | default('center') }} {{ block.cover_image.position_y | default('center') }};
        }
    </style>
{% endif %}


<div>
    {% if block.greetings and block.greetings.active %}
        <div class="text-bg-warning py-2 d-print-none">
            <div class="container">
                {% if block.greetings.hello %}
                    <div class="mb-0 text-center text-xl-start">
                        <small>
                            <i class="bi bi-person-arms-up"></i>
                            {{ block.greetings.hello }}
                            <a href="{{ contact.href }}" class="btn btn-dark btn-sm ms-2">
                                {{ block.greetings.contact }}
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </small>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="text-bg-light py-5 mt-n5 {{ ("bg-img bg-img-jumbotron bg-img-" ~ block.cover_image.bg_color | default("light")) if block.cover_image.active else '' }}">
        <div class="container">
            <div class="row">
                {% if block.avatar_image.active %}
                    <div class="
                    col offset-4 col-4
                    offset-sm-4 col-sm-4
                    offset-md-0 col-md-4
                    col-lg-3
                    col-xl-2
                    col-xxl-2
                ">
                        <img src="/{{ block.avatar_image.filename }}" class="rounded-circle img-fluid d-block mx-auto"
                             style="max-height: {{ block.avatar_image.height }}px; max-width: {{ block.avatar_image.width }}px;width: 100%;
                                     height: auto" alt="{{ block.person }}"/>
                    </div>
                {% endif %}
                <div class="
                    col col-12 text-center {{ "mt-3" if block.avatar_image.active else "" }}
                    {{ "col-sm-12" if block.avatar_image.active else "col-sm-12" }}
                    {{ "col-md-8 mt-md-0 text-md-start" if block.avatar_image.active else "col-md-12" }}
                    {{ "col-lg-9" if block.avatar_image.active else "text-lg-start" }}
                    {{ "col-xl-10" if block.avatar_image.active else "" }}
                    {{ "col-xxl-10" if block.avatar_image.active else "" }}
                ">
                    <div class="text-{{ block.text_color if block.text_color else 'body' }}">
                        {% if block.person %}
                            <h1>{{ block.person }}</h1>
                        {% endif %}

                        {% if block.occupation %}
                            <h2 class="h5">
                                {{ block.occupation }}
                            </h2>
                        {% endif %}

                        <div>
                            {% if contacts.phone and contacts.phone.active %}
                                <a class="link-{{ block.text_color if block.text_color else 'primary' }} d-inline-block me-2"
                                   href="tel:{{ contacts.phone.id }}">
                                    {{ contacts.phone.id }}
                                </a>
                            {% endif %}

                            {% if contacts.email and contacts.email.active %}
                                <a class="link-{{ block.text_color if block.text_color else 'primary' }} d-inline-block me-2"
                                   href="mailto:{{ contacts.email.id }}">
                                    {{ contacts.email.id }}
                                </a>
                            {% endif %}

                            {% if contacts.address and contacts.address.active %}
                                <span class="d-inline-block me-2">
                                    <i class="bi bi-geo"></i> {{ contacts.address.id }}
                                </span>
                            {% endif %}
                        </div>

                        {% set social_items = contacts.socials | selectattr('active') | list %}
                        {% if social_items %}
                            <div>
                                {% for social in social_items %}
                                    <a href="{{ social.url }}"
                                       class="fs-2 link-{{ block.text_color if block.text_color else 'primary' }} me-2 d-print-none"
                                       target="_blank" rel="noopener noreferrer"><i class="bi bi-{{ social.icon }}"></i></a>
                                    <span class="d-none d-print-block">
                                        <i class="bi bi-{{ social.icon }}"></i>
                                        {{ social.url }}
                                    </span>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="
                            mt-2 d-flex gap-1 align-items-center justify-content-center d-print-none
                            {{ "justify-content-md-start" if block.avatar_image.active else "" }}
                            {{ "justify-content-lg-start" if block.avatar_image.active else "justify-content-lg-start" }}
                        ">
                            {% if block.cv.active %}
                                <a href="/{{ block.cv.filename }}"
                                   class="btn btn-{{ block.text_color if block.text_color else 'primary' }}"
                                   download>
                                    <i class="bi bi-download"></i>
                                    {{ block.cv.download_label }}
                                </a>
                            {% endif %}

                            <a href="#" onclick="window.print();return false;"
                               class="btn btn-outline-{{ block.text_color if block.text_color else 'primary' }} btn-sm">
                                <i class="bi bi-printer"></i>
                                {{ block.print_me_label }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>