<!DOCTYPE html>
<html lang="en">

{% include "head.html" with context %}

<body class="d-flex flex-column min-vh-100">

{% include "header.html" with context %}

<main class="d-flex flex-column gap-4 gap-md-5 pb-1">
    {% block content %}
    {% endblock %}
</main>

{% include "footer.html" with context %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>
</html>