{% if item.image_filename %}
    {% if item.url %}
        <a class="d-print-none" href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
    {% endif %}

<img src="/{{ item.image_filename }}" class="card-img-top{% if not item.url %} d-print-none{% endif %}"
     alt="{{ item.header }}"/>

{% if item.url %}
    </a>
{% endif %}
{% endif %}

<div class="card-body">
    {% if item.url %}
        <a class="text-decoration-none link-body-emphasis" href="{{ item.url }}" target="_blank"
           rel="noopener noreferrer">
    {% endif %}

    <h3 class="h5 card-title mb-0 d-inline">
        {{ item.header }}
    </h3>

    {% if item.ongoing %}
        <span class="badge rounded-pill bg-primary me-1">{{ block.ongoing }}</span>
    {% endif %}

    {% if item.retired %}
        <span class="badge rounded-pill bg-danger me-1">{{ block.retired }}</span>
    {% endif %}

    {% if item.url %}
        <i class="bi bi-box-arrow-up-right d-print-none"></i>
        <span class="d-none d-print-inline">{{ item.url }}</span>
        </a>
    {% endif %}

    <div class="card-text">{{ item.organization }}</div>

    {% if item.start_date %}
        <div class="card-text">
            <small class="text-body-secondary">
                <i class="bi bi-calendar"></i>
                {{ item.start_date | date_range(item.end_date) }}
            </small>
        </div>
    {% endif %}
</div>