<div class="
    card-body d-flex flex-column gap-2
    gap-sm-2
    gap-md-2
    gap-xl-2
    gap-xxl-2
">
    <div class="
        row g-2
        g-sm-2
        g-md-3
        g-xl-3
        g-xxl-3
    ">
        {% if item.image_filename %}
            <div class="
                col col-3
                col-sm-3
                col-md-4
                col-xl-4
                col-xxl-4
            ">
                <img src="/{{ item.image_filename }}" class="rounded"
                     style="max-height: {{ block.image.height }}px; max-width: {{ block.image.width }}px;width: 100%;
                             height: auto"
                     alt="{{ item.header }}"/>
            </div>
        {% endif %}

        <div class="
            col {{ "col-9" if item.image_filename else "col-12" }}
            {{ "col-sm-9" if item.image_filename else "col-sm-12" }}
            {{ "col-md-8" if item.image_filename else "col-md-12" }}
            {{ "col-xl-8" if item.image_filename else "col-xl-12" }}
            {{ "col-xxl-8" if item.image_filename else "col-xxl-12" }}
        ">
            <h3 class="h5 card-title mb-0">
                {{ item.header }}
                {% if item.ongoing %}
                    <span class="badge text-bg-info">{{ block.ongoing }}</span>
                {% endif %}
            </h3>

            <div class="d-flex flex-column gap-1">
                <div class="card-text">{{ item.organization }}</div>

                {% if item.url %}
                    <div class="card-text d-print-none">
                        <a href="{{ item.url }}" class="btn btn-sm btn-outline-secondary"
                           target="_blank" rel="noopener noreferrer">
                            {{ block.show_credential }} <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                {% endif %}

                {% if item.start_date %}
                    <div class="card-text">
                        <small class="text-body-secondary">
                            <i class="bi bi-calendar"></i>
                            {{ item.start_date | date_range(item.end_date) }}
                        </small>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>