{% if item.founder %}
    <span class="badge rounded-pill bg-primary me-1">{{ block.founder }}</span>
{% endif %}

{% if item.cofounder %}
    <span class="badge rounded-pill bg-primary me-1">{{ block.cofounder }}</span>
{% endif %}

{% if item.startup %}
    <span class="badge rounded-pill bg-success me-1">{{ block.startup }}</span>
{% endif %}

{% if item.ongoing %}
    <span class="badge rounded-pill bg-info text-dark me-1">{{ block.ongoing }}</span>
{% endif %}

{% if item.private %}
    <span class="badge rounded-pill bg-warning text-dark me-1">{{ block.private }}</span>
{% endif %}

{% if item.retired %}
    <span class="badge rounded-pill bg-danger me-1">{{ block.retired }}</span>
{% endif %}