{% set has_image = item.image_url or item.image_filename %}

{% if has_image %}
    <a class="d-print-none" href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
        <img src="{{ item.image_url if item.image_url else ('/' ~ item.image_filename) }}"
             class="card-img-top" alt="{{ item.header }}"/>
    </a>
{% endif %}

<div class="card-body">
    <a class="text-decoration-none link-body-emphasis" href="{{ item.url }}" target="_blank"
       rel="noopener noreferrer">
        <h3 class="h5 card-title mb-0 d-inline">
            {{ item.header }}
        </h3>

        <i class="bi bi-box-arrow-up-right d-print-none"></i>
        <span class="d-none d-print-inline">{{ item.url }}</span>
    </a>

    <div class="card-text text-secondary">{{ item.platform }}</div>

    {% if item.published_date %}
        <div class="card-text">
            <small class="text-body-secondary">
                <i class="bi bi-calendar"></i>
                {{ item.published_date | format_us_date }}
            </small>
        </div>
    {% endif %}
</div>