<div class="container" id="{{ block.id }}">
    <h2 class="
        mb-2 text-center
        mb-sm-2
        mb-md-2
        mb-lg-2 text-lg-start
        mb-xl-3
        mb-xxl-3
    ">
        {{ block.header }}
    </h2>

    <div class="d-flex flex-wrap align-items-center gap-1 h5 fw-normal">
        {% for item in block["items"] | selectattr('active') | shuffle %}
            {% set font_size = (item.years * 0.15) if (item.years * 0.15) > 0.8 else 0.8 %}
            {% set opacity = (item.percent / 100) | round(2) %}
            <span class="text-bg-{{ item.color | default('light') }} px-2"
                  style="opacity: {{ opacity }}; font-size: {{ font_size }}rem;"
                  title="{{ item.years }} years of experience">{{ item.header }}</span>
        {% endfor %}
    </div>
</div>