{% if block.cover_image.active %}
    <style>
        .bg-img-stat::before {
            background-image: url('/{{ block.cover_image.filename }}');
            background-position: {{ block.cover_image.position_x | default('center') }} {{ block.cover_image.position_y | default('center') }};
        }
    </style>
{% endif %}

<div class="text-bg-light py-5 mb-5 {{ "bg-img bg-img-stat" if block.cover_image.active else '' }}">
    <div class="container">
        <div class="row text-{{ block.text_color if block.text_color else "body" }}">
            {% for item in block["items"] | selectattr('active') %}
                <div class="col col-3 text-center">
                    <span class="h1">{{ item.number }}</span>
                    <div>{{ item.header }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>